.cus-button {
  display: block;
  margin: auto;
  width: 30%;
  margin-top: 5%;
  height: 7%;
}

::ng-deep .mat-raised-button.mat-primary {
  background-color: black;
}

body {
  background-color: #DCDCDC;
}
