/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background: #9C9B9B;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.center {
  margin: auto;
  width: 50%;
}

form {
  display: unset;
}

textarea {
  resize: none;
  border: none;
  outline: none;
  width: 100%;
  padding: 20px;
}

.submit-container {
  margin-top: 5%;
  width: 37%;
}

.mat-button {
  float: right;
  background-color: white;
}
