/* You can add global styles to this file, and also import other style files */
@import "./fonts.scss";

html,
body {
  height: 100%;
  background: #9C9B9B;
  //background: linear-gradient(313deg, #b4b4b4, #3f3f3f);
  background-size: 400% 400%;

  -webkit-animation: bgGradient 120s ease infinite;
  -moz-animation: bgGradient 120s ease infinite;
  animation: bgGradient 120s ease infinite;
  margin: 0;
  height: 100%;
  overflow: hidden
}

@-webkit-keyframes bgGradient {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes bgGradient {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@keyframes bgGradient {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

* {
  font-family: Nimbus, "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
}

.center {
  margin: auto;
  width: 50%;
}

form {
  display: unset;
}

textarea {
  resize: none;
  border: none;
  outline: none;
  width: 100%;
  padding: 20px;
}

.mat-button {
  float: right;
  background-color: white;
  width: 20%;
  height: 40%;
}

// Fonts
@font-face {
  font-family: 'nimbus';
  src: url($nimbus-reg-woff2-font-path) format('woff2'),
    url($nimbus-reg-woff-font-path) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nimbusBold';
  src: url($nimbus-bol-woff2-font-path) format('woff2'),
    url($nimbus-bol-woff-font-path) format('woff');
  font-weight: normal;
  font-style: normal;
}
