.succes-container {
  height: 100%;
  width: 80%;
}

.weight {
  background-color: white;
  max-height: 58%;
  width: 100%;
  margin-bottom: 5%;
  margin-left: 10%;
  padding: 20px;

  p {
    color: black;
    font-size: 7.8vw;
    font-weight: bold;
  }
}

.thanks {
    background-color: black;
    max-height: 58%;
    width: 100%;
    margin-bottom: 5%;
    margin-left: 10%;
    padding: 20px;
  
    p {
      color: white;
      font-size: 7.8vw;
      font-weight: bold;
    }
  }
