.succes-container {
  height: 100%;
  width: 80%;
}

.propInfo {
  background-color: white;
  max-height: 58%;
  margin-bottom: 5%;
  margin-left: 10%;
  margin-right: 10%;
  padding: 20px;
  height: 20%;
  overflow-y: scroll;

  p {
    color: black;
    font-size: 3vw;
    font-weight: bold;
  }
}

.prop {
  background-color: black;
  margin-left: 10%;
  margin-right: 10%;
  padding: 20px;
  height: 43%;
  overflow-y: scroll;

  p {
    color: white;
    font-size: 7.8vw;
    font-weight: bold;
  }
}

.question-container {
  height: 13%;
  width: 80%;
  margin-bottom: 5%;
  margin-left: 10%;
}

::ng-deep .mat-button-wrapper {
  font-size: 3vw;
}
