<div class="klankbord-container" *ngIf="(prop$ | async) as prop">

  <!-- Stelling -->
  <div class="black stelling has-text-centered">
  <p>{{prop.proposition}}</p>
  </div>

  <!-- Profession -->
  <div class="prof">
    <table>
      <tr>
        <td>
          <p>{{professions[0]}}</p>
        </td>
        <td>
          <p>{{professions[1]}}</p>
        </td>
        <td>
          <p>{{professions[2]}}</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>{{professions[3]}}</p>
        </td>
        <td>
          <p>{{professions[4]}}</p>
        </td>
        <td>
          <p>{{professions[5]}}</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>{{professions[6]}}</p>
        </td>
        <td>
          <p>{{professions[7]}}</p>
        </td>
        <td>
          <p>{{professions[8]}}</p>
        </td>
      </tr>
    </table>
  </div>

  <!-- Age -->
  <div class="age">
    <table>
      <tr>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
      </tr>
    </table>
  </div>

  <!-- Marquee -->
  <div class="marq">
    <table>
      <tr>
        <td>
          <marquee behavior="scroll" direction="left">Scrolling Slide Text</marquee>
        </td>
      </tr>
      <tr>
        <td>
          <marquee behavior="scroll" direction="left">Scrolling Slide Text</marquee>
        </td>
      </tr>
      <tr>
        <td>
          <marquee behavior="scroll" direction="left">Scrolling Slide Text</marquee>
        </td>
      </tr>
    </table>
  </div>
</div>
