<div class="klankbord-container" *ngIf="(prop$ | async) as prop">

  <!-- Stelling -->
  <div class="black stelling has-text-centered">
  <p>{{prop.proposition}}</p>
  </div>

  <!-- Profession -->
  <div class="prof">
    <table>
      <tr>
        <td>
          <p>{{professions[0]}}</p>
        </td>
        <td>
          <p>{{professions[1]}}</p>
        </td>
        <td>
          <p>{{professions[2]}}</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>{{professions[3]}}</p>
        </td>
        <td>
          <p>{{professions[4]}}</p>
        </td>
        <td>
          <p>{{professions[5]}}</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>{{professions[6]}}</p>
        </td>
        <td>
          <p>{{professions[7]}}</p>
        </td>
        <td>
          <p>{{professions[8]}}</p>
        </td>
      </tr>
    </table>
  </div>

  <!-- Age -->
  <div class="age">
    <table>
      <tr>
        <td>
          <p>{{ages[0]}}</p>
        </td>
        <td>
          <p>{{ages[1]}}</p>
        </td>
        <td>
          <p>{{ages[2]}}</p>
        </td>
        <td>
          <p>{{ages[3]}}</p>
        </td>
        <td>
          <p>{{ages[4]}}</p>
        </td>
        <td>
          <p>{{ages[5]}}</p>
        </td>
        <td>
          <p>{{ages[6]}}</p>
        </td>
        <td>
          <p>{{ages[7]}}</p>
        </td>
        <td>
          <p>{{ages[8]}}</p>
        </td>
        <td>
          <p>{{ages[9]}}</p>
        </td>
        <td>
          <p>{{ages[10]}}</p>
        </td>
        <td>
          <p>{{ages[11]}}</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>{{ages[12]}}</p>
        </td>
        <td>
          <p>{{ages[13]}}</p>
        </td>
        <td>
          <p>{{ages[14]}}</p>
        </td>
        <td>
          <p>{{ages[15]}}</p>
        </td>
        <td>
          <p>{{ages[16]}}</p>
        </td>
        <td>
          <p>{{ages[17]}}</p>
        </td>
        <td>
          <p>{{ages[18]}}</p>
        </td>
        <td>
          <p>{{ages[19]}}</p>
        </td>
        <td>
          <p>{{ages[20]}}</p>
        </td>
        <td>
          <p>{{ages[21]}}</p>
        </td>
        <td>
          <p>{{ages[22]}}</p>
        </td>
        <td>
          <p>{{ages[23]}}</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>{{ages[24]}}</p>
        </td>
        <td>
          <p>{{ages[25]}}</p>
        </td>
        <td>
          <p>{{ages[26]}}</p>
        </td>
        <td>
          <p>{{ages[27]}}</p>
        </td>
        <td>
          <p>{{ages[28]}}</p>
        </td>
        <td>
          <p>{{ages[29]}}</p>
        </td>
        <td>
          <p>{{ages[30]}}</p>
        </td>
        <td>
          <p>{{ages[31]}}</p>
        </td>
        <td>
          <p>{{ages[32]}}</p>
        </td>
        <td>
          <p>{{ages[33]}}</p>
        </td>
        <td>
          <p>{{ages[34]}}</p>
        </td>
        <td>
          <p>{{ages[35]}}</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>{{ages[36]}}</p>
        </td>
        <td>
          <p>{{ages[37]}}</p>
        </td>
        <td>
          <p>{{ages[38]}}</p>
        </td>
        <td>
          <p>{{ages[39]}}</p>
        </td>
        <td>
          <p>{{ages[40]}}</p>
        </td>
        <td>
          <p>{{ages[41]}}</p>
        </td>
        <td>
          <p>{{ages[42]}}</p>
        </td>
        <td>
          <p>{{ages[43]}}</p>
        </td>
        <td>
          <p>{{ages[44]}}</p>
        </td>
        <td>
          <p>{{ages[45]}}</p>
        </td>
        <td>
          <p>{{ages[46]}}</p>
        </td>
        <td>
          <p>{{ages[47]}}</p>
        </td>
      </tr>
    </table>
  </div>

  <!-- Marquee -->
  <div class="marq">
    <table>
      <tr>
        <td>
        <marquee behavior="scroll" direction="left">{{scrollingText}}</marquee>
        </td>
      </tr>
      <tr>
        <td>
          <marquee behavior="scroll" direction="right">{{scrollingText}}</marquee>
        </td>
      </tr>
      <tr>
        <td>
          <marquee behavior="scroll" direction="left">{{scrollingText}}</marquee>
        </td>
      </tr>
    </table>
  </div>
</div>
