<div class="klankbord-container">

  <!-- Stelling -->
  <div class="black stelling has-text-centered">
    <p>EINDHOVEN ZOU EEN
      LAGE EMISSIEZONE
      MOETEN INTRODUCEREN</p>
  </div>

  <!-- Profession -->
  <div class="prof">
    <table>
      <tr>
        <td>
          <p>Test</p>
        </td>
        <td>
          <p>Test</p>
        </td>
        <td>
          <p>Test</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Test</p>
        </td>
        <td>
          <p>Test</p>
        </td>
        <td>
          <p>Test</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Test</p>
        </td>
        <td>
          <p>Test</p>
        </td>
        <td>
          <p>Test</p>
        </td>
      </tr>
    </table>
  </div>

  <!-- Age -->
  <div class="age">
    <table>
      <tr>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
        <td>
          <p>99</p>
        </td>
      </tr>
    </table>
  </div>

  <!-- Marquee -->
  <div class="marq">
    <table>
      <tr>
        <td>
          <marquee behavior="scroll" direction="left">Scrolling Slide Text</marquee>
        </td>
      </tr>
      <tr>
        <td>
          <marquee behavior="scroll" direction="left">Scrolling Slide Text</marquee>
        </td>
      </tr>
      <tr>
        <td>
          <marquee behavior="scroll" direction="left">Scrolling Slide Text</marquee>
        </td>
      </tr>
    </table>
  </div>
</div>
