.input-container {
  width: 80%;
  height: 43%;
}

// Textarea stelling

.textarea-stelling {
  background-color: black;
  color: white;
  font-size: 10vw;
  font-family: Nimbus, "Helvetica Neue", sans-serif;
  height: 100%;
}

.textarea-stelling::-webkit-input-placeholder {
  color: white;
}

.textarea-stelling::placeholder {
  color: white;
}

// Textarea extra

.extra {
  height: 20%;
}

.textarea-extra {
  font-family: Nimbus, "Helvetica Neue", sans-serif;
  font-size: 3.7vw;
  height: 100%;
  color: black;
}

.textarea-extra::-webkit-input-placeholder {
  color: black;
}

.textarea-extra::placeholder {
  color: black;
}

// Button container

.submit-container {
  margin-top: 5%;
  width: 80%;
  height: 12%;
}

::ng-deep .mat-button-wrapper {
  font-family: NimbusBold, "Helvetica Neue", sans-serif;
  font-size: 2vw;
}

::ng-deep .mat-checkbox-label {
    color: white;
}