<form [formGroup]="questionForm" (ngSubmit)="submitQuestion()">
  <div class="center input-container">
    <textarea formControlName="proposition" class="textarea-stelling" placeholder="VOER HIER DE STELLING VAN DE DAG IN..."></textarea>
  </div>
  <div class="center input-container extra">
    <textarea formControlName="extra" class="textarea-extra" placeholder="Voer hier meer informatie over de stelling in..."></textarea>
  </div>

  <div class="center submit-container">
    <!-- <mat-checkbox formControlName="agreed">I agree to the terms of service</mat-checkbox> -->
    <button mat-button [disabled]="!questionForm.valid">Opslaan</button>
  </div>
</form>
