.input-container {
  width: 37%;
  height: 50%;
}

// Textarea stelling

.textarea-stelling {
  background-color: black;
  color: white;
  font-size: 4vw;
  height: 100%;
}

.textarea-stelling::-webkit-input-placeholder {
  color: white;
}

.textarea-stelling::placeholder {
  color: white;
}

// Textarea extra

.extra {
  height: 20%;
}

.textarea-extra {
  font-size: 2vw;
  height: 100%;
  color: black;
}

.textarea-extra::-webkit-input-placeholder {
  color: black;
}

.textarea-extra::placeholder {
  color: black;
}

// Button container


::ng-deep .mat-checkbox-label {
    color: white;
}